<div class="row">
  <div class="small-12 columns">
    <ul data-orbit>
      <li data-orbit-slide="headline-1">
      <div>
        <h2>Step 1: Go to Settings</h2>
        <p> <%= image_tag "sl5x5-android-settings.png" %> </p>
      </div>
      </li>
      <li data-orbit-slide="headline-2">
      <div>
        <h2>Step 2: Choose Export</h2>
        <p> <%= image_tag "sl5x5-android-export.png" %> </p>
      </div>
      </li>
      <li data-orbit-slide="headline-3">
      <div>
        <h2>Step 3: Choose Send</h2>
        <p> <%= image_tag "sl5x5-android-send.png" %> </p>
      </div>
      </li>
      <li data-orbit-slide="headline-4">
      <div>
        <h2>Step 4: Paste the email address provided</h2>
        <p> <%= image_tag "sl5x5-android-compose.png" %> </p>
      </div>
      </li>
    </ul>
  </div>
</div>
