<div id="<%= id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle"><%= t('.title') %></h2>
  <p class="lead"><%= t('.lead') %></p>
  <div id="gym-search"></div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
