<div id="<%= id %>" class="reveal" data-reveal>
  <h2 id="modalTitle"><%= t('.title') %></h2>
  <p class="lead"><%= t('.lead') %></p>
  <div id="gym-search"></div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
