<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  $(function(){
    $('#calendar').fullCalendar({
      events: '<%= calendar_workouts_path(format: :json) %>'
    });
  });
<% end %>
