<div class="container" data-autovue="workout-view">
  <div class="columns content is-small has-text-centered" v-for="exercise in workout.exercises">
    <div class="column is-12">
      <h2 class="subtitle">{{ exercise.name }}</h2>
        <div class="level">
          <div class="level-item has-text-centered" v-for="set in exercise.sets">
            <exercise-set v-bind:set="set" inline-template>
            <div>
              <p class="heading">
                {{ set.target_repetitions }} x {{ set.target_weight }}
              </p>
                <button v-on:click="updateProgress(set)" class="button is-large" v-bind:class="classObject">
                  {{ set.actual_repetitions }}
                </button>
              <p> {{ set.weight_per_side }} &nbsp; </p>
            </div>
            </exercise-set>
          </div>
        </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-6 is-offset-3">
      <%= link_to t(:done), workouts_path, class: 'button is-large is-fullwidth is-primary' %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
new Stronglifters.Autovue().execute();
new Stronglifters.AutoviewSetup().execute();
<% end %>
