<div class="row">
  <div class="large-12 columns">
    <div id="workout-view"></div>
    <%= link_to t(:back_html), workouts_path %>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
var json = <%= raw render partial: 'edit.json.jbuilder', locals: { workout: @workout } %>;
window.currentView = new Stronglifters.WorkoutView({
  el: 'workout-view',
  data: function() {
    return json;
  }
})
</script>
