<div class="row">
  <div class="columns">
    <div id="workout-view"></div>
    <%= link_to t(:done), workouts_path, class: 'button float-right' %>
  </div>

  <div class="columns">
    <%= react_component('Workout', render(partial: "edit.json.jbuilder", locals: { workout: @workout })) %>
    <%= link_to t(:done), workouts_path, class: 'button float-right' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
window.currentView = new Stronglifters.WorkoutView({
  el: 'workout-view',
  data: function() {
    return <%= raw render partial: 'edit.json.jbuilder', locals: { workout: @workout } %>;
  }
})
</script>
