<div class="container">
  <div id="workout-view"></div>
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <%= link_to t(:done), workouts_path, class: 'button is-large is-fullwidth is-primary' %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
window.currentView = new Stronglifters.WorkoutView({
  el: 'workout-view',
  data: function() {
    return <%= raw render partial: 'edit.json.jbuilder', locals: { workout: @workout } %>;
  }
})
<% end %>
