<% if training_history.completed_any? %>
  <div class="panel">
    <p class="medium-text-center"><%= training_history.exercise.name %> </p>
    <%= line_chart training_history.to_line_chart %>
  </div>
<% end %>
