---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.io/json/70.173.137.232
    body:
      encoding: US-ASCII
      string: ''
 response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: '{"ip":"70.173.137.232","country_code":"US","country_name":"United States","region_code":"NV","region_name":"Nevada","city":"Las
        Vegas","zip_code":"89107","time_zone":"America/Los_Angeles","latitude":36.172,"longitude":-115.2094,"metro_code":839}

'
  recorded_at: Tue, 31 May 2016 02:42:34 GMT
recorded_with: VCR 3.0.3
