---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1301%2016%20Ave%20NW,%20Calgary,%20AB,%20Canada&language=en&sensor=false
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "E.H. Crandell Building",
                       "short_name" : "E.H. Crandell Building",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "1301",
                       "short_name" : "1301",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "16 Avenue Northwest",
                       "short_name" : "16 Ave NW",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Northwest Ca[...]
