---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/search?category_filter=gyms&limit=20&location=Calgary&offset=0&term=gym
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.24506755404779312, "longitude_delta":
        0.23675644461479806}, "center": {"latitude": 51.046380457251004, "longitude":
        -114.055232934266}}, "total": 232, "businesses": [{"is_claimed": true, "rating":
        4.5, "mobile_url": "http://m.yelp.com/biz/ymca-calgary-calgary-4?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "rating_img_url": "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 12, "name": "YMCA Calgary", "rating_img_url_small": "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/ymca-calgary-calgary-4?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "categories": [["Gyms", "gyms"], ["Recreation Centers", "recreation"]], "phone":
        "4032696701", "snippet_text": "I have been  a member of the Eau Claire YMCA
        since 1997. \n\nI enjoy the clean facilities and modern equipment. The gym
        is well maintained and the staff are...", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/zXn9LtAUgGD6Fdy0gJj1kQ/ms.jpg",
        "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/ZyciZ9ggR1CXp03IZfc3cw/ms.jpg",
        "display_phone": "+1-403-269-6701", "rating_img_url_large": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "ymca-calgary-calgary-4", "is_closed": false, "location": {"city": "Calgary",
        "display_address": ["101 3 Street SW", "Calgary, AB T2P 4G6", "Canada"], "geo_accuracy":
        9.5, "postal_code": "T2P 4G6", "country_code": "CA", "address": ["101 3 Street
        SW"], "coordinate": {"latitude": 51.0529052983445, "longitude": -114.070559496009},
        "state_code": "AB"}}, {"is_claimed": true, "rating": 4.0, "mobile_url": "http://m.yelp.com/biz/fit4less-calgary-2?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "rating_img_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "review_count": 5, "name": "Fit4Less", "rating_img_url_small": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "url": "http://www.yelp.com/biz/fit[...]
