---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/search?category_filter=gyms&limit=20&location=Calgary&offset=20&term=gym
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.27385743000000673, "longitude_delta":
        0.2421980000000019}, "center": {"latitude": 51.03749475, "longitude": -114.095907}},
        "total": 232, "businesses": [{"is_claimed": true, "rating": 3.5, "mobile_url":
        "http://m.yelp.com/biz/vivo-calgary?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "rating_img_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png",
        "review_count": 12, "name": "Vivo", "rating_img_url_small": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png",
        "url": "http://www.yelp.com/biz/vivo-calgary?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "categories": [["Gyms", "gyms"], ["Swimming Pools", "swimmingpools"], ["Skating
        Rinks", "skatingrinks"]], "phone": "4035321013", "snippet_text": "Good experience.
        Went to the back and used the free space with the ruber pad on the floor to
        practice my group dance for PE. Had pleanty of room and the...", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/__l1y2wUURvKEz8oABNrEA/ms.jpg", "snippet_image_url":
        "http://s3-media4.fl.yelpcdn.com/photo/q50PTYB15EO2jEwgv-9vrA/ms.jpg", "display_phone":
        "+1-403-532-1013", "rating_img_url_large": "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/bd9b7a815d1b/ico/stars/v1/stars_large_3_half.png",
        "id": "vivo-calgary", "is_closed": false, "location": {"city": "Calgary",
        "display_address": ["11950 Country Village Link NE", "Calgary, AB T3K 6E3",
        "Canada"], "geo_accuracy": 8.0, "postal_code": "T3K 6E3", "country_code":
        "CA", "address": ["11950 Country Village Link NE"], "coordinate": {"latitude":
        51.1594582, "longitude": -114.0675735}, "state_code": "AB"}}, {"is_claimed":
        true, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/15-minute-exercise-calgary?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "rating_img_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 1, "name": "15 Minute Exercise", "rating_img_url_small": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/15-minute-exercise-calgary?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "categories": [["Gyms", "gyms"], ["Trainers", "healthtrainers"]], "deals":
        [{"what_you_get": "You get a voucher redeemable for CA$40 at 15 Minute Exercise.\nPrint
        out your voucher, or redeem on your phone with the \u003ca href=\"http://www.yelp.com/mobile?source=deal_marketing\"\u003eYelp
        app\u003c/a\u003e.", "time_start": 1411049693, "title": "CA$20 for CA$40",
        "url": "http://www.yelp.ca/deals/15-minute-exercise-calgary?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "additional_restrictions": "Promotion lasts for 1 year from date of purchase.
        After that period, your voucher is redeemable for the amount you paid, less
        any value you may have received. Not valid with other vouchers, certificates,
        or offers. Voucher can only be used for services, not retail products. Only
        3 voucher(s) can be purchased and redeemed per person. Up to 3 can be purchased
        as gifts for others. Subject to the \u003ca target=\"_blank\" href=\"http://www.yelp.com/tos/general_b2c_en_ca_20140515\"\u003eGeneral
        Terms\u003c/a\u003e.", "options": [{"original_price": 4000, "title": "CA$20
        for CA$40", "price": 2000, "purchase_url": "https://www.yelp.ca/checkout/deal/8TCVsd-CwBhONzYe9FMBnA?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=",
        "formatted_original_price": "CA$40", "formatted_price": "CA$20", "is_quantity_limited":
        false}], "image_url": "https://s3-media1.fl.yelpcdn.com/dphoto/Hbaq4RYY98EwHZRuwIeVGg/m.jpg",
        "id": "jwWkCdXIhVNyTkWDZlTJHw", "currency_code": "CAD"}], "phone": "4038364233",
        "snippet_text": "15-minute exercise is a fabulous place to get a dose of pampered
        hard work. Okay, that sounds like an oxymoron. Here''s the gist of what this
        is all about....", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/c39M28ZfVPRRQoNA_H9-8A/ms.jpg",
        "snippet_image_url": "https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/cc4afe21892e/assets/img/default_avatars/user_medium_square.png",
        "display_phone"[...]
