<div class="row">
  <form>
    <div class="small-12 columns">
      <label>Username
        <input type="text" placeholder="Username" />
      </label>
    </div> <!-- /.small-12 -->
    <div class="small-12 columns">
      <label>Email
        <input type="text" placeholder="Email" />
      </label>
    </div> <!-- /.small-12 -->
    <div class="small-12 columns">
      <label>Password
        <input type="password" placeholder="Password" />
      </label>
    </div> <!-- /.small-12 -->
    <div class="small-12 columns">
      <input type="submit" class="button" value="Register" />
    </div> <!-- /.small-12 -->
  </form>
</div> <!-- /.row -->