<% if current_page.last? %>
   <li class="pagination-next disabled"><%= raw(t 'views.pagination.next')%></li>
<% else %>
  <li class="pagination-next">
    <%= link_to raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>
  </li>
<% end %>
