<div class="large-4 small-6 columns">
  <img src="http://placehold.it/1000x1000&text=Thumbnail">

  <div class="panel">
    <h5><%=  training_session.created_at %></h5>
    <h6 class="subheader"><%= distance_of_time_in_words_to_now training_session.occurred_at %></h6>
  </div>
</div>
