<div class="row">
  <div class="large-12 columns">
    <div id="training-session-view"></div>
    <%= link_to t(:back_html), training_sessions_path %>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
var json = <%= raw render partial: 'edit.json.jbuilder', locals: { training_session: @training_session } %>;
window.currentView = new Stronglifters.TrainingSessionView({
  el: 'training-session-view',
  data: function() {
    return json;
  }
})
</script>
