<% if @training_sessions.any? %>
  <div class="row">
    <div class="large-12 columns">
      <%= render @training_sessions %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-12 columns">
      <div class="flex-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/txuWGoZF3ew" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
<% end %>
