<div class="row">
  <div class="large-12 columns">
    <div id="training-session-view">
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
new Stronglifters.TrainingSessionView({
  el: 'training-session-view',
  data: { }
})
</script>
