<div class="content">
  <h1 class="title">Get Started</h1>
  <p class="has-text-centered"> <%= t('.blurb_html', email: current_user.import_address) %> </p>
  <p class="control has-addons">
    <%= text_field_tag :import_address, current_user.import_address, class: 'input is-expanded' %>
    <button class="button clipboard-button" data-clipboard-target="#import_address">
      <span class="icon"><i class="fa fa-copy"></i></span>
    </button>
  </p>
  <p class="has-text-centered"> <%= mail_to(current_user.import_address, User.human_attribute_name(:import_address)) %> </p>
  <% if current_user.default_time_zone? %>
    <p> <i class="fa fa-warning"></i> <%= link_to t('.warning'), edit_profile_path(current_user.profile) %> </p>
  <% end %>
</div>

<iframe width="560" height="560" src="https://www.youtube-nocookie.com/embed/vVowk0wSiwY?rel=0" frameborder="0" allowfullscreen></iframe>
