<% content_for :content do %>
  <% if @completed_workout %>
    <p>welcome back</p>
  <% else %>
    <%= render partial: 'import_address_modal' %>
  <% end %>
<% end %>
<%= render template: "layouts/administration" %>
