<% content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<div class="row">
  <div class="large-8 columns">
    <h1><%= t(".title") %></h1>
    <div id="results">
      <%= render partial: 'index' %>
    </div>
  </div>
  <div class="large-4 columns">
    <%= random_video %>
  </div>
</div>
