<div class="row">
  <div class="large-12 columns">
    <h1><%= @gym.name %></h1>
    <p>
      <%= @gym.full_address %>
      <%= link_to @gym.location.try(:url) do %>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      <% end %>
    </p>
  </div>
</div>
