/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bulma
 *= require_self
 */

//@import "**/*";
header {
  padding: 0.5em 0;
  h1 {
    background: asset-url('logos.svg');
    height: 150px;
    background-position: 0 -676px;
    background-repeat: no-repeat;
    margin: 5px auto 0 auto;
    width: 150px;
    span {
      display: block;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }
  }
}
