<div class="container">
  <div class="columns">
    <div class="column is-2 is-offset-5">
      <div class="align-middle loading-indicator" style="display:none;">
        <p><i class="fa fa-spinner fa-pulse"></i> <%= t('.loading') %></p>
      </div>
    </div>
  </div>
</div>
